.nav-bar {
    color: black;
    background-color: #457B9D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding: 10px;
    padding-left: 50px;
    word-spacing: 15px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: normal; /* Set a constant font-weight for normal state */
}

.nav-bar a:hover {
    color: black; /* Change text color on hover */
    font-weight: bold;
}


#questionnaire_submit{
    width: 250px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    color: white;
    background-color: #457B9D;
}

#questionnaire_submit:hover{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: #83c5be;
    color: black;
    font-weight: bold;
}



